<!-- Rodapé -->
<section class="footer">
    <h4>Sobre nós</h4>
    <p>O Departamento de Computação (DComp) da Universidade Federal de Sergipe surgiu em 2009. A área de Informática foi implementada<br> na UFS inicialmente com o curso de graduação em Informática,criado em 1990, junto ao Departamento de Estatística e Informática (DEI),<br> até o ano de 2009, quando criado o Departamento de Estatística e Ciências Atuariais e alterada a denominação do DCCE para<br> Departamento de Computação.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>        
    </div>
    <p>Feito por Project Root</p>
</section>

    <script type="text/javascript" src="index.js"></script>
</body>
</html>