<a href="/admin/tables/profs"> tabelas</a>
<form method="POST" action="/input/profs">
    <input name = 'nome' type="text" placeholder="Nome do professor">
    <input name = 'link' type="text" placeholder="link-foto">
    <input name = 'area' type="text" placeholder="area">
    <input name = 'areaIcon'type="text" placeholder="AreaIcon">
    <input name = 'subArea' type="text" placeholder="subarea">
    <input name = 'SubAreaIcon'type="text" placeholder="AreaIcon">
    <button> testando </button>
</form>